# **To Access Resume which is present as Word Document**

In [4]:
pip install python-docx

Collecting python-docx
  Downloading python_docx-1.1.0-py3-none-any.whl (239 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 239.6/239.6 kB 4.6 MB/s eta 0:00:00
Requirement already satisfied: lxml>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from python-docx) (4.9.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from python-docx) (4.11.0)
Installing collected packages: python-docx
Successfully installed python-docx-1.1.0

# Accessing CVs From Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')
!cp -r '/content/drive/MyDrive/CV_train' '/content/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Extracting the Degree of Candidate from CV and adding it to the dataframe

In [5]:
import re
import os
import pandas as pd
from docx import Document
import zipfile
import os
import pandas as pd
from docx import Document
import shutil
import tempfile
def find_degrees(text):
    # Define regex patterns for degrees
    degree_patterns = [
        r"(B\.Tech|Bachelor of Technology)",
        r"(BA|Bachelor of Arts)",
        r"(BCom|Bachelor of Commerce)"
        # Add more patterns for other degrees as needed
    ]

    degrees_found = set()
    for pattern in degree_patterns:
        matches = re.findall(pattern, text, re.IGNORECASE)
        degrees_found.update(matches)

    return degrees_found
def search_languages(text):
    # Define language patterns
    language_patterns = [
    r"english",
    r"hindi",
    r"bengali",
    r"telugu",
    r"marathi",
    r"tamil",
    r"urdu",
    r"kannada",
    r"gujarati",
    r"odia",
    r"malayalam",
    r"punjabi",
    r"assamese",
    r"maithili",
    r"sanskrit",
    r"kashmiri",
    r"sindhi",
    # Add more patterns for other languages as needed
]

    languages_found = set()
    for pattern in language_patterns:
        matches = re.findall(pattern, text, re.IGNORECASE)
        languages_found.update(matches)

    return languages_found
def search_skills(text):
    # Define skill patterns
    skill_patterns = [
        r"sales",
        r"accounting",
        r"communication",
        r"computer",
        r"mathematics",
        # Add more patterns for other skills as needed
    ]

    skills_found = set()
    for pattern in skill_patterns:
        matches = re.findall(pattern, text, re.IGNORECASE)
        skills_found.update(matches)

    return skills_found

def extract_text_from_docx(docx_file):
    doc = Document(docx_file)
    full_text = []

    # Extract text from paragraphs
    for para in doc.paragraphs:
        full_text.append(para.text)

    # Extract text from tables
    for table in doc.tables:
        for row in table.rows:
            for cell in row.cells:
                full_text.append(cell.text)

    return '\n'.join(full_text)

train_data = pd.read_csv("train.csv")
folder_path = "/content/CV_train"

files = os.listdir(folder_path)

for index, row in train_data.iterrows():
    unique_id = row["CandidateID"]  # Assuming "CandidateID" is the name of the column containing the IDs

    # Construct the path to the resume file
    path = "/content/CV_train/"
    resume_path = os.path.join(path, f"{unique_id} Resume.docx")
    #print(unique_id)
    path2 = unique_id
    path2+=" Resume.docx"
    # Check if the resume file exists
    try :
        # Extract text from the resume file
        resume_text = extract_text_from_docx(resume_path)
        cv_text = resume_text.lower()

        # Find degrees in the CV text
        degrees = find_degrees(cv_text)

        train_data.loc[index, "Degree"] = ", ".join(degrees) if degrees else None


    except:
        print(f"Resume file not found for ID: {unique_id}")
        train_data.loc[index, "Degree"] = -1

train_data

Resume file not found for ID: EMP0308
Resume file not found for ID: EMP0271

,CandidateID,Designation,Have you Completed your Graduation ?,Highest Educational Qualification,Total no of years Experience [before joining Piramal],Previous Industry worked with [before joining Piramal],Name of your Previous Organization / Company,How many Organization that you have worked before joining Piramal Finance ?,Average Incentive [per month] earned in your pervious company ?,How did you come to know about the role at Piramal Finance ?,...,How many members are there in your family ?,How many are earning family members ? [Other then yourself]2,How many members are dependent on you ?,Department,DOJ,Location Code,Residential Pincode,Branch Pincode,Performance,Degree
0,EMP0669,DST,Full Time,Graduate,5.0,NBFC,ADITYA BIRLA CAPITAL FINANCE,03-May,Above 10K,Others,...,1 - 2 members,1.0,1,Mass Affluent Housing,04-05-23,6333,500036,500016.0,0,ba
1,EMP0273,DST,Full Time,Graduate,1.5,Banking,IDFC FIRST BANK LIMITED,01-Feb,7K-10K,Advertisement / Job Portal,...,3 - 4 members,2.0,4,Sales,07-11-23,6048,621210,620001.0,1,ba
2,EMP0300,DST,Full Time,Under Graduate,4.5,Banking,Onerufe Resource private limited,03-May,Less than 3K,Referral,...,3 - 4 members,1.0,2,Affordable Housing,13-02-23,6329,627808,627811.0,1,ba
3,EMP0100,DST,Full Time,Post Graduate,4.5,Banking,Kotak Mahindra Bank Ltd,01-Feb,Above 10K,Consultant / Partners,...,3 - 4 members,2.0,3,Affordable Housing,14-02-22,6263,221003,221010.0,1,ba
4,EMP0319,DST,Full Time,Post Graduate,1.0,others,R.G Enterprises,01-Feb,Nil,others,...,3 - 4 members,1.0,3,Affordable Housing,20-04-23,6059,636004,636004.0,0,ba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,EMP0580,DST,Full Time,Graduate,3.0,Banking,UJJIVAN SMALL FINANCE BANK,01-Feb,3K-7K,Advertisement / Job Portal,...,3 - 4 members,0.0,2,Mass Affluent Housing,28-02-22,6215,780135,781007.0,0,ba
741,EMP0004,DST,Full Time,Graduate,5.0,NBFC,Kogta financial services,01-Feb,Above 10K,others,...,3 - 4 members,1.0,4,Secured Business Loan,29-12-21,6181,414001,414001.0,1,ba
742,EMP0763,DST,NaN,NaN,0.0,NBFC,NaN,0 / Fresher,Above 10K,Referral,...,3 - 4 members,NaN,2,Mass Affluent Housing,17-04-23,6156,400066,402109.0,1,ba
743,EMP0321,DST,Full Time,Graduate,5.0,Banking,Idfc First Bank,5+,Above 10K,Advertisement / Job Portal,...,3 - 4 members,1.0,2,Sales,13-10-22,6059,636309,636004.0,1,ba
744,EMP0474,DST,Full Time,Post Graduate,5.0,NBFC,Muthoot finance,03-May,Above 10K,Consultant / Partners,...,3 - 4 members,1.0,3,Mass Affluent Housing,02-05-22,6525,560026,560025.0,1,ba

#Extracting Languages known by the Candidate

In [6]:

for index, row in train_data.iterrows():
    unique_id = row["CandidateID"]  # Assuming "CandidateID" is the name of the column containing the IDs

    # Construct the path to the resume file
    path = "/content/CV_train/"
    resume_path = os.path.join(path, f"{unique_id} Resume.docx")
    #print(unique_id)
    path2 = unique_id
    path2+=" Resume.docx"
    # Check if the resume file exists
    try :
        resume_text = extract_text_from_docx(resume_path)
        cv_text = resume_text.lower()
        lang = search_languages(cv_text)
        train_data.loc[index, "Languages"] = ", ".join(lang) if lang else None

    except:
        print(f"Resume file not found for ID: {unique_id}")
#print(data["Degree"].unique())
train_data

Resume file not found for ID: EMP0308
Resume file not found for ID: EMP0271

,CandidateID,Designation,Have you Completed your Graduation ?,Highest Educational Qualification,Total no of years Experience [before joining Piramal],Previous Industry worked with [before joining Piramal],Name of your Previous Organization / Company,How many Organization that you have worked before joining Piramal Finance ?,Average Incentive [per month] earned in your pervious company ?,How did you come to know about the role at Piramal Finance ?,...,How many are earning family members ? [Other then yourself]2,How many members are dependent on you ?,Department,DOJ,Location Code,Residential Pincode,Branch Pincode,Performance,Degree,Languages
0,EMP0669,DST,Full Time,Graduate,5.0,NBFC,ADITYA BIRLA CAPITAL FINANCE,03-May,Above 10K,Others,...,1.0,1,Mass Affluent Housing,04-05-23,6333,500036,500016.0,0,ba,"hindi, english, telugu"
1,EMP0273,DST,Full Time,Graduate,1.5,Banking,IDFC FIRST BANK LIMITED,01-Feb,7K-10K,Advertisement / Job Portal,...,2.0,4,Sales,07-11-23,6048,621210,620001.0,1,ba,"tamil, english"
2,EMP0300,DST,Full Time,Under Graduate,4.5,Banking,Onerufe Resource private limited,03-May,Less than 3K,Referral,...,1.0,2,Affordable Housing,13-02-23,6329,627808,627811.0,1,ba,"tamil, english"
3,EMP0100,DST,Full Time,Post Graduate,4.5,Banking,Kotak Mahindra Bank Ltd,01-Feb,Above 10K,Consultant / Partners,...,2.0,3,Affordable Housing,14-02-22,6263,221003,221010.0,1,ba,None
4,EMP0319,DST,Full Time,Post Graduate,1.0,others,R.G Enterprises,01-Feb,Nil,others,...,1.0,3,Affordable Housing,20-04-23,6059,636004,636004.0,0,ba,"tamil, english"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,EMP0580,DST,Full Time,Graduate,3.0,Banking,UJJIVAN SMALL FINANCE BANK,01-Feb,3K-7K,Advertisement / Job Portal,...,0.0,2,Mass Affluent Housing,28-02-22,6215,780135,781007.0,0,ba,"assamese, bengali, hindi, english"
741,EMP0004,DST,Full Time,Graduate,5.0,NBFC,Kogta financial services,01-Feb,Above 10K,others,...,1.0,4,Secured Business Loan,29-12-21,6181,414001,414001.0,1,ba,"marathi, hindi, english"
742,EMP0763,DST,NaN,NaN,0.0,NBFC,NaN,0 / Fresher,Above 10K,Referral,...,NaN,2,Mass Affluent Housing,17-04-23,6156,400066,402109.0,1,ba,"marathi, hindi, english"
743,EMP0321,DST,Full Time,Graduate,5.0,Banking,Idfc First Bank,5+,Above 10K,Advertisement / Job Portal,...,1.0,2,Sales,13-10-22,6059,636309,636004.0,1,ba,"tamil, english"
744,EMP0474,DST,Full Time,Post Graduate,5.0,NBFC,Muthoot finance,03-May,Above 10K,Consultant / Partners,...,1.0,3,Mass Affluent Housing,02-05-22,6525,560026,560025.0,1,ba,"kannada, hindi, english"

#Extracting the Birth Year

In [7]:

def search_birth_year(text):
    # Define regex pattern to find a 4-digit number within the range of 1950 to 2010

    pattern = r"\b(19[5-9]\d)\b"

    # Search for the pattern in the text
    match = re.search(pattern, text)

    # If a match is found, return the birth year
    if match:
        return match.group()

    return None

for index, row in train_data.iterrows():
    unique_id = row["CandidateID"]  # Assuming "CandidateID" is the name of the column containing the IDs

    # Construct the path to the resume file
    path = "/content/CV_train/"
    resume_path = os.path.join(path, f"{unique_id} Resume.docx")
    #print(unique_id)
    path2 = unique_id
    path2+=" Resume.docx"
    # Check if the resume file exists
    # Extract text from the resume file
    try:
      resume_text = extract_text_from_docx(resume_path)
      cv_text = resume_text.lower()
      date = search_birth_year(cv_text)
      train_data.loc[index, "Date of Birth"] = date if date else None

    except:
        print(f"Resume file not found for ID: {unique_id}")

train_data.head(10)

Resume file not found for ID: EMP0308
Resume file not found for ID: EMP0271

,CandidateID,Designation,Have you Completed your Graduation ?,Highest Educational Qualification,Total no of years Experience [before joining Piramal],Previous Industry worked with [before joining Piramal],Name of your Previous Organization / Company,How many Organization that you have worked before joining Piramal Finance ?,Average Incentive [per month] earned in your pervious company ?,How did you come to know about the role at Piramal Finance ?,...,How many members are dependent on you ?,Department,DOJ,Location Code,Residential Pincode,Branch Pincode,Performance,Degree,Languages,Date of Birth
0,EMP0669,DST,Full Time,Graduate,5.0,NBFC,ADITYA BIRLA CAPITAL FINANCE,03-May,Above 10K,Others,...,1,Mass Affluent Housing,04-05-23,6333,500036,500016.0,0,ba,"hindi, english, telugu",1992
1,EMP0273,DST,Full Time,Graduate,1.5,Banking,IDFC FIRST BANK LIMITED,01-Feb,7K-10K,Advertisement / Job Portal,...,4,Sales,07-11-23,6048,621210,620001.0,1,ba,"tamil, english",None
2,EMP0300,DST,Full Time,Under Graduate,4.5,Banking,Onerufe Resource private limited,03-May,Less than 3K,Referral,...,2,Affordable Housing,13-02-23,6329,627808,627811.0,1,ba,"tamil, english",1992
3,EMP0100,DST,Full Time,Post Graduate,4.5,Banking,Kotak Mahindra Bank Ltd,01-Feb,Above 10K,Consultant / Partners,...,3,Affordable Housing,14-02-22,6263,221003,221010.0,1,ba,None,1994
4,EMP0319,DST,Full Time,Post Graduate,1.0,others,R.G Enterprises,01-Feb,Nil,others,...,3,Affordable Housing,20-04-23,6059,636004,636004.0,0,ba,"tamil, english",1998
5,EMP0110,DST,Full Time,Post Graduate,10.0,NBFC,DHFL,01-Feb,3K-7K,others,...,3,Affordable Housing,08-12-21,6292,110091,201301.0,0,ba,None,1983
6,EMP0034,DST,Full Time,Graduate,2.0,Banking,ICICI Bank,03-May,Above 10K,Referral,...,3,Affordable Housing,11-05-23,6264,273407,273001.0,1,ba,"hindi, english",1994
7,EMP0918,DST,Full Time,Graduate,6.5,NBFC,NaN,03-May,Above 10K,External consultant,...,2,Sales,27-10-21,6020,502325,500029.0,0,ba,"hindi, english, telugu",1993
8,EMP0235,DST,Full Time,Post Graduate,2.0,Banking,IDFC FIRST BANK,01-Feb,Above 10K,Referral,...,2,Sales,16-10-23,6048,620102,620001.0,0,ba,"tamil, english",1997
9,EMP0582,DST,Full Time,Graduate,3.0,NBFC,Tata capital housing Finance Ltd,01-Feb,7K-10K,Referral,...,4,Sales,09-08-22,6310,490011,490023.0,0,ba,None,1998

In [6]:
train_data.head(20)

,CandidateID,Designation,Have you Completed your Graduation ?,Highest Educational Qualification,Total no of years Experience [before joining Piramal],Previous Industry worked with [before joining Piramal],Name of your Previous Organization / Company,How many Organization that you have worked before joining Piramal Finance ?,Average Incentive [per month] earned in your pervious company ?,How did you come to know about the role at Piramal Finance ?,...,How many members are dependent on you ?,Department,DOJ,Location Code,Residential Pincode,Branch Pincode,Performance,Degree,Languages,Date of Birth
0,EMP0669,DST,Full Time,Graduate,5.0,NBFC,ADITYA BIRLA CAPITAL FINANCE,03-May,Above 10K,Others,...,1,Mass Affluent Housing,04-05-23,6333,500036,500016.0,0,ba,"hindi, english, telugu",1992
1,EMP0273,DST,Full Time,Graduate,1.5,Banking,IDFC FIRST BANK LIMITED,01-Feb,7K-10K,Advertisement / Job Portal,...,4,Sales,07-11-23,6048,621210,620001.0,1,ba,"tamil, english",None
2,EMP0300,DST,Full Time,Under Graduate,4.5,Banking,Onerufe Resource private limited,03-May,Less than 3K,Referral,...,2,Affordable Housing,13-02-23,6329,627808,627811.0,1,ba,"tamil, english",1992
3,EMP0100,DST,Full Time,Post Graduate,4.5,Banking,Kotak Mahindra Bank Ltd,01-Feb,Above 10K,Consultant / Partners,...,3,Affordable Housing,14-02-22,6263,221003,221010.0,1,ba,None,1994
4,EMP0319,DST,Full Time,Post Graduate,1.0,others,R.G Enterprises,01-Feb,Nil,others,...,3,Affordable Housing,20-04-23,6059,636004,636004.0,0,ba,"tamil, english",1998
5,EMP0110,DST,Full Time,Post Graduate,10.0,NBFC,DHFL,01-Feb,3K-7K,others,...,3,Affordable Housing,08-12-21,6292,110091,201301.0,0,ba,None,1983
6,EMP0034,DST,Full Time,Graduate,2.0,Banking,ICICI Bank,03-May,Above 10K,Referral,...,3,Affordable Housing,11-05-23,6264,273407,273001.0,1,ba,"hindi, english",1994
7,EMP0918,DST,Full Time,Graduate,6.5,NBFC,NaN,03-May,Above 10K,External consultant,...,2,Sales,27-10-21,6020,502325,500029.0,0,ba,"hindi, english, telugu",1993
8,EMP0235,DST,Full Time,Post Graduate,2.0,Banking,IDFC FIRST BANK,01-Feb,Above 10K,Referral,...,2,Sales,16-10-23,6048,620102,620001.0,0,ba,"tamil, english",1997
9,EMP0582,DST,Full Time,Graduate,3.0,NBFC,Tata capital housing Finance Ltd,01-Feb,7K-10K,Referral,...,4,Sales,09-08-22,6310,490011,490023.0,0,ba,None,1998
10,EMP0689,DST,Full Time,Graduate,3.0,NBFC,Indiabulls Housing Finance Ltd,01-Feb,Above 10K,Direct Application,...,5,Secured Business Loan,07-07-22,6252,202001,202001.0,1,ba,None,None
11,EMP0426,DST,Full Time,Graduate,2.0,Insurance,Reliance life insurance,01-Feb,7K-10K,Referral,...,3,Affordable Housing,30-01-23,6341,504206,504208.0,1,b.tech,"hindi, english, telugu",1988
12,EMP0268,DST,Full Time,Post Graduate,7.0,Banking,2,5+,7K-10K,Referral,...,1,Sales,05-10-23,6048,621204,620001.0,0,ba,None,1984
13,EMP0124,DST,Full Time,Graduate,9.0,NBFC,Fullarton India Credit Company Ltd,03-May,Above 10K,Direct Application,...,2,Business Loans,10-11-21,6225,462023,462011.0,0,ba,"hindi, english",1986
14,EMP0230,DST,Part time,Graduate,15.0,others,RR HOSPITALITY SERVICES,03-May,Nil,Referral,...,3,Affordable Housing,28-09-23,6038,600032,600061.0,1,ba,None,1985
15,EMP0206,DST,Full Time,Graduate,2.5,NBFC,Prayaan capital,01-Feb,3K-7K,Referral,...,0,Secured Business Loan,03-04-23,6040,635804,623006.0,1,None,"tamil, english",None
16,EMP0174,DST,Full Time,Graduate,6.0,Banking,Kotak Mahindra Bank,01-Feb,Above 10K,Consultant / Partners,...,2,Secured Business Loan,15-11-21,6059,636004,636004.0,0,ba,None,None
17,EMP0593,DST,Full Time,Graduate,6.0,NBFC,INDIAN SCHOOL FINANCE COMPANY,03-May,Above 10K,Referral,...,3,Business Loans,13-06-22,6004,534312,533101.0,0,ba,"english, telugu",1991
18,EMP0548,DST,Full Time,Post Graduate,5.0,NBFC,Vistaar housing finance,03-May,3K-7K,Others,...,3,Affordable Housing,23-02-23,6347,635710,635601.0,0,ba,"tamil, english",1993
19,EMP0448,DST,Full Time,Post Graduate,5.0,Banking,ICICI securities Ltd,5+,3K-7K,Advertisement / Job Portal,...,4,Mass Affluent Housing,06-02-23,6299,221104,110095.0,1,ba,"hindi, english",None

#Quantifying How far is Candidates home from the Branch

In [11]:
import numpy as np
data = train_data
pincode_diff = abs(data['Branch Pincode'] - data['Residential Pincode'])

data['Distance'] = np.floor(np.log10(pincode_diff))
data['Distance'] = data['Distance'].replace(-np.inf, 0)

/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:396: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)

#Checking if the candidate has worked previously in a company from the same field

In [12]:
data = data.applymap(lambda x: x.lower() if isinstance(x, str) else x)
keywords = ['fin', 'con', 'bank', 'sales']  # Add more keywords as needed

def contains_keyword(text):
    if isinstance(text, str):
        for keyword in keywords:
            if keyword in text:
                return 1
    return 0


data['Name of your Previous Organization / Company'] = data['Name of your Previous Organization / Company'].apply(contains_keyword)
data

,CandidateID,Designation,Have you Completed your Graduation ?,Highest Educational Qualification,Total no of years Experience [before joining Piramal],Previous Industry worked with [before joining Piramal],Name of your Previous Organization / Company,How many Organization that you have worked before joining Piramal Finance ?,Average Incentive [per month] earned in your pervious company ?,How did you come to know about the role at Piramal Finance ?,...,Department,DOJ,Location Code,Residential Pincode,Branch Pincode,Performance,Degree,Languages,Date of Birth,Distance
0,emp0669,dst,full time,graduate,5.0,nbfc,1,03-may,above 10k,others,...,mass affluent housing,04-05-23,6333,500036,500016.0,0,ba,"hindi, english, telugu",1992,1.0
1,emp0273,dst,full time,graduate,1.5,banking,1,01-feb,7k-10k,advertisement / job portal,...,sales,07-11-23,6048,621210,620001.0,1,ba,"tamil, english",None,3.0
2,emp0300,dst,full time,under graduate,4.5,banking,0,03-may,less than 3k,referral,...,affordable housing,13-02-23,6329,627808,627811.0,1,ba,"tamil, english",1992,0.0
3,emp0100,dst,full time,post graduate,4.5,banking,1,01-feb,above 10k,consultant / partners,...,affordable housing,14-02-22,6263,221003,221010.0,1,ba,None,1994,0.0
4,emp0319,dst,full time,post graduate,1.0,others,0,01-feb,nil,others,...,affordable housing,20-04-23,6059,636004,636004.0,0,ba,"tamil, english",1998,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,emp0580,dst,full time,graduate,3.0,banking,1,01-feb,3k-7k,advertisement / job portal,...,mass affluent housing,28-02-22,6215,780135,781007.0,0,ba,"assamese, bengali, hindi, english",1989,2.0
741,emp0004,dst,full time,graduate,5.0,nbfc,1,01-feb,above 10k,others,...,secured business loan,29-12-21,6181,414001,414001.0,1,ba,"marathi, hindi, english",1990,0.0
742,emp0763,dst,NaN,NaN,0.0,nbfc,0,0 / fresher,above 10k,referral,...,mass affluent housing,17-04-23,6156,400066,402109.0,1,ba,"marathi, hindi, english",None,3.0
743,emp0321,dst,full time,graduate,5.0,banking,1,5+,above 10k,advertisement / job portal,...,sales,13-10-22,6059,636309,636004.0,1,ba,"tamil, english",1992,2.0
744,emp0474,dst,full time,post graduate,5.0,nbfc,1,03-may,above 10k,consultant / partners,...,mass affluent housing,02-05-22,6525,560026,560025.0,1,ba,"kannada, hindi, english",1995,0.0

In [13]:
#Checking which columns have NULL value
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 745 entries, 0 to 744
Data columns (total 25 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   CandidateID                                                                  745 non-null    object
 1   Designation                                                                  745 non-null    object
 2   Have you Completed your Graduation ?                                         644 non-null    object
 3   Highest Educational Qualification                                            644 non-null    object
 4   Total no of years Experience [before joining Piramal]                        671 non-null    float64
 5   Previous Industry worked with [before joining Piramal]                       745 non-null    object
 6   Name of your Previous Organization / Company                                 745 non-null    int64
 7   How many Organization that you have worked before joining Piramal Finance ?  671 non-null    object
 8   Average Incentive [per month] earned in your pervious company ?              745 non-null    object
 9   How did you come to know about the role at Piramal Finance ?                 745 non-null    object
 10  Which Products you are selling in your pervious role ?                       739 non-null    object
 11  What was the average ticket size handled at your end in previous role ?      745 non-null    object
 12  How many members are there in your family ?                                  745 non-null    object
 13  How many are earning family members ? [Other then yourself]2                 563 non-null    float64
 14  How many members are dependent on you ?                                      745 non-null    int64
 15  Department                                                                   745 non-null    object
 16  DOJ                                                                          745 non-null    object
 17  Location Code                                                                745 non-null    int64
 18  Residential Pincode                                                          745 non-null    int64
 19  Branch Pincode                                                               743 non-null    float64
 20  Performance                                                                  745 non-null    int64
 21  Degree                                                                       688 non-null    object
 22  Languages                                                                    653 non-null    object
 23  Date of Birth                                                                638 non-null    object
 24  Distance                                                                     743 non-null    float64
dtypes: float64(4), int64(5), object(16)
memory usage: 145.6+ KB

#Label Encoding the columns

In [14]:
data["How many members are there in your family ?"] = data["How many members are there in your family ?"].astype(str)
data["Degree"] = data["Degree"].astype(str)
# Import label encoder
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
data['Highest Educational Qualification']= label_encoder.fit_transform(data['Highest Educational Qualification'])
data['Have you Completed your Graduation ?']= label_encoder.fit_transform(data['Have you Completed your Graduation ?'])
data['Previous Industry worked with [before joining Piramal]']= label_encoder.fit_transform(data['Previous Industry worked with [before joining Piramal]'])
data['Average Incentive [per month] earned in your pervious company ?']= label_encoder.fit_transform(data['Average Incentive [per month] earned in your pervious company ?'])
data['What was the average ticket size handled at your end in previous role ?']= label_encoder.fit_transform(data['What was the average ticket size handled at your end in previous role ?'])
data['How many members are there in your family ?']= label_encoder.fit_transform(data['How many members are there in your family ?'])
data['Degree']= label_encoder.fit_transform(data['Degree'])
# columns_for_target_mean_encoding = ["Highest Educational Qualification","Have you Completed your Graduation ?","Previous Industry worked with [before joining Piramal]","Average Incentive [per month] earned in your pervious company ?","What was the average ticket size handled at your end in previous role ?","How many members are there in your family ?","Degree"]
# encoded_values_dict = {}
# for column in columns_for_target_mean_encoding:

#     target_means = data.groupby(column)['Performance'].mean()
#     encoded_values_dict[column] = target_means.to_dict()
#     data[column] = data[column].map(target_means)

data

,CandidateID,Designation,Have you Completed your Graduation ?,Highest Educational Qualification,Total no of years Experience [before joining Piramal],Previous Industry worked with [before joining Piramal],Name of your Previous Organization / Company,How many Organization that you have worked before joining Piramal Finance ?,Average Incentive [per month] earned in your pervious company ?,How did you come to know about the role at Piramal Finance ?,...,Department,DOJ,Location Code,Residential Pincode,Branch Pincode,Performance,Degree,Languages,Date of Birth,Distance
0,emp0669,dst,0,1,5.0,2,1,03-may,2,others,...,mass affluent housing,04-05-23,6333,500036,500016.0,0,3,"hindi, english, telugu",1992,1.0
1,emp0273,dst,0,1,1.5,0,1,01-feb,1,advertisement / job portal,...,sales,07-11-23,6048,621210,620001.0,1,3,"tamil, english",None,3.0
2,emp0300,dst,0,4,4.5,0,0,03-may,3,referral,...,affordable housing,13-02-23,6329,627808,627811.0,1,3,"tamil, english",1992,0.0
3,emp0100,dst,0,3,4.5,0,1,01-feb,2,consultant / partners,...,affordable housing,14-02-22,6263,221003,221010.0,1,3,None,1994,0.0
4,emp0319,dst,0,3,1.0,4,0,01-feb,4,others,...,affordable housing,20-04-23,6059,636004,636004.0,0,3,"tamil, english",1998,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,emp0580,dst,0,1,3.0,0,1,01-feb,0,advertisement / job portal,...,mass affluent housing,28-02-22,6215,780135,781007.0,0,3,"assamese, bengali, hindi, english",1989,2.0
741,emp0004,dst,0,1,5.0,2,1,01-feb,2,others,...,secured business loan,29-12-21,6181,414001,414001.0,1,3,"marathi, hindi, english",1990,0.0
742,emp0763,dst,2,5,0.0,2,0,0 / fresher,2,referral,...,mass affluent housing,17-04-23,6156,400066,402109.0,1,3,"marathi, hindi, english",None,3.0
743,emp0321,dst,0,1,5.0,0,1,5+,2,advertisement / job portal,...,sales,13-10-22,6059,636309,636004.0,1,3,"tamil, english",1992,2.0
744,emp0474,dst,0,3,5.0,2,1,03-may,2,consultant / partners,...,mass affluent housing,02-05-22,6525,560026,560025.0,1,3,"kannada, hindi, english",1995,0.0

#Finding the Age from D.O.B

In [15]:
import numpy as np

data.replace("NaN", np.nan, inplace=True)

data["Date of Birth"] = pd.to_numeric(data["Date of Birth"], errors="coerce")

data["Age"] = 2024 - data["Date of Birth"]
data["Age"].fillna(24, inplace=True)
data.drop(columns=['Date of Birth'], inplace=True)
data

,CandidateID,Designation,Have you Completed your Graduation ?,Highest Educational Qualification,Total no of years Experience [before joining Piramal],Previous Industry worked with [before joining Piramal],Name of your Previous Organization / Company,How many Organization that you have worked before joining Piramal Finance ?,Average Incentive [per month] earned in your pervious company ?,How did you come to know about the role at Piramal Finance ?,...,Department,DOJ,Location Code,Residential Pincode,Branch Pincode,Performance,Degree,Languages,Distance,Age
0,emp0669,dst,0,1,5.0,2,1,03-may,2,others,...,mass affluent housing,04-05-23,6333,500036,500016.0,0,3,"hindi, english, telugu",1.0,32.0
1,emp0273,dst,0,1,1.5,0,1,01-feb,1,advertisement / job portal,...,sales,07-11-23,6048,621210,620001.0,1,3,"tamil, english",3.0,24.0
2,emp0300,dst,0,4,4.5,0,0,03-may,3,referral,...,affordable housing,13-02-23,6329,627808,627811.0,1,3,"tamil, english",0.0,32.0
3,emp0100,dst,0,3,4.5,0,1,01-feb,2,consultant / partners,...,affordable housing,14-02-22,6263,221003,221010.0,1,3,None,0.0,30.0
4,emp0319,dst,0,3,1.0,4,0,01-feb,4,others,...,affordable housing,20-04-23,6059,636004,636004.0,0,3,"tamil, english",0.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,emp0580,dst,0,1,3.0,0,1,01-feb,0,advertisement / job portal,...,mass affluent housing,28-02-22,6215,780135,781007.0,0,3,"assamese, bengali, hindi, english",2.0,35.0
741,emp0004,dst,0,1,5.0,2,1,01-feb,2,others,...,secured business loan,29-12-21,6181,414001,414001.0,1,3,"marathi, hindi, english",0.0,34.0
742,emp0763,dst,2,5,0.0,2,0,0 / fresher,2,referral,...,mass affluent housing,17-04-23,6156,400066,402109.0,1,3,"marathi, hindi, english",3.0,24.0
743,emp0321,dst,0,1,5.0,0,1,5+,2,advertisement / job portal,...,sales,13-10-22,6059,636309,636004.0,1,3,"tamil, english",2.0,32.0
744,emp0474,dst,0,3,5.0,2,1,03-may,2,consultant / partners,...,mass affluent housing,02-05-22,6525,560026,560025.0,1,3,"kannada, hindi, english",0.0,29.0

#Filling Missing Value

In [16]:
mean_value = data['Total no of years Experience [before joining Piramal]'].mean()
data['Total no of years Experience [before joining Piramal]'].fillna(mean_value, inplace=True)
data['How many are earning family members ? [Other then yourself]2'].fillna(0, inplace=True)  # Replace NaN with 0
missing_values_count = data.isna().sum()

#Checking if the Candidate knows the language spoken in the Branch he is applying to

In [17]:

# Assuming 'Branch Pincode' is the column containing pincode in data1
data["Branch Pincode"] = data["Branch Pincode"].astype(str)

pincode_to_language = {
    '50': 'Telugu',
    '51': 'Telugu',
    '52': 'Telugu',
    '53': 'Telugu',
    '60': 'Tamil',
    '61': 'Tamil',
    '62': 'Tamil',
    '63': 'Tamil',
    '11': 'Hindi',
    '12': 'Hindi',
    '13': 'Hindi',
    '14': 'Hindi',
    '56': 'Kannada',
    '57': 'Kannada',
    '58': 'Kannada',
    '59': 'Kannada',
    '70': 'Bengali',
    '71': 'Bengali',
    '72': 'Bengali',
    '73': 'Bengali',
    '40': 'Marathi',
    '41': 'Marathi',
    '42': 'Marathi',
    '43': 'Marathi',
    '36': 'Gujarati',
    '37': 'Gujarati',
    '38': 'Gujarati',
    '39': 'Gujarati',
    '75': 'Odia',
    '76': 'Odia',
    '77': 'Odia',
    '78': 'Odia',
    '20': 'Urdu',
    '21': 'Urdu',
    '22': 'Urdu',
    '23': 'Urdu',
    '24': 'Sanskrit',
    '14': 'Punjabi',
    '15': 'Punjabi',
    '16': 'Punjabi',
    '17': 'Punjabi',
    '80': 'Bihari',
    '81': 'Bihari',
    '82': 'Bihari',
    '83': 'Bihari',
    '84': 'Bihari',
    '85': 'Bihari',
    # Add more pincode prefixes and their corresponding languages as needed
}

# Map first two digits of pincode to language
data["Languages"] = data["Branch Pincode"].str[:2].map(pincode_to_language)

# Function to check if candidate knows both English and matched languages
def check_perk(row):
    if isinstance(row['Languages'], str) and row['Languages'].lower() == 'english':
        return 2
    elif pd.notnull(row['Languages']):
        return 1
    else:
        return 0

# Apply the function to set the 'perk' column
data['perk'] = data.apply(check_perk, axis=1)

# Display the DataFrame
print(data["Languages"])

0       Telugu
1        Tamil
2        Tamil
3         Urdu
4        Tamil
        ...
740       Odia
741    Marathi
742    Marathi
743      Tamil
744    Kannada
Name: Languages, Length: 745, dtype: object

#Checking the areas in which the candidate has Experience

In [18]:
from collections import Counter

# Assuming loan_types_column is a pandas Series containing text data
loan_types_column = data["Which Products you are selling in your pervious role ?"]

# Convert all non-string values to strings
loan_types_column = loan_types_column.astype(str)

# Combine the text into a single string
combined_text = ' '.join(loan_types_column)

# Tokenize the text
words = combined_text.split(';')

# Convert to lowercase to ensure consistency
words = [word.strip().lower() for word in words]

# Count occurrences of each word
word_counts = Counter(words)

# Get the top 7 most common words
top_words = word_counts.most_common(7)

# Filter out the word "other"
top_words_other_than_other = [word for word, count in top_words if word != 'others']

# Select the first word from the filtered list
top_word_other_than_other = top_words_other_than_other[0]

# Create new columns for each top word
for word in top_words_other_than_other:
    # Create a new column with the word as the column name
    if word != "others":
      data[word] = data["Which Products you are selling in your pervious role ?"].apply(
        lambda x: 1 if word in str(x).lower() else 0
    )

# Print the top occurring word other than "other"
print("Top occurring word other than 'other':", top_word_other_than_other)
data

Top occurring word other than 'other': housing loans

,CandidateID,Designation,Have you Completed your Graduation ?,Highest Educational Qualification,Total no of years Experience [before joining Piramal],Previous Industry worked with [before joining Piramal],Name of your Previous Organization / Company,How many Organization that you have worked before joining Piramal Finance ?,Average Incentive [per month] earned in your pervious company ?,How did you come to know about the role at Piramal Finance ?,...,Languages,Distance,Age,perk,housing loans,msme / sme loans,personal loans,car loans / used car loans,housing loan housing loans,fmcg
0,emp0669,dst,0,1,5.0,2,1,03-may,2,others,...,Telugu,1.0,32.0,1,0,1,0,0,0,0
1,emp0273,dst,0,1,1.5,0,1,01-feb,1,advertisement / job portal,...,Tamil,3.0,24.0,1,0,0,1,0,0,0
2,emp0300,dst,0,4,4.5,0,0,03-may,3,referral,...,Tamil,0.0,32.0,1,1,1,1,1,0,0
3,emp0100,dst,0,3,4.5,0,1,01-feb,2,consultant / partners,...,Urdu,0.0,30.0,1,0,0,0,0,0,0
4,emp0319,dst,0,3,1.0,4,0,01-feb,4,others,...,Tamil,0.0,26.0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,emp0580,dst,0,1,3.0,0,1,01-feb,0,advertisement / job portal,...,Odia,2.0,35.0,1,0,0,1,0,0,0
741,emp0004,dst,0,1,5.0,2,1,01-feb,2,others,...,Marathi,0.0,34.0,1,0,1,1,0,0,0
742,emp0763,dst,2,5,0.0,2,0,0 / fresher,2,referral,...,Marathi,3.0,24.0,1,0,0,0,0,0,0
743,emp0321,dst,0,1,5.0,0,1,5+,2,advertisement / job portal,...,Tamil,2.0,32.0,1,0,1,1,0,0,0
744,emp0474,dst,0,3,5.0,2,1,03-may,2,consultant / partners,...,Kannada,0.0,29.0,1,0,0,0,1,0,0

#Label Encoding other columns

In [19]:
data['How did you come to know about the role at Piramal Finance ?']= label_encoder.fit_transform(data['How did you come to know about the role at Piramal Finance ?'])
data['Department']= label_encoder.fit_transform(data['Department'])
data['How did you come to know about the role at Piramal Finance ?']= label_encoder.fit_transform(data['How did you come to know about the role at Piramal Finance ?'])
data['DOJ']= label_encoder.fit_transform(data['DOJ'])
data['How many Organization that you have worked before joining Piramal Finance ?']= label_encoder.fit_transform(data['How many Organization that you have worked before joining Piramal Finance ?'])
# columns_for_target_mean_encoding = ["Highest Educational Qualification","How many Organization that you have worked before joining Piramal Finance ?","Have you Completed your Graduation ?","Previous Industry worked with [before joining Piramal]","Average Incentive [per month] earned in your pervious company ?","What was the average ticket size handled at your end in previous role ?","How many members are there in your family ?","Degree","How did you come to know about the role at Piramal Finance ?","Department","DOJ","How did you come to know about the role at Piramal Finance ?"]
# encoded_values_dict = {}
# for column in columns_for_target_mean_encoding:

#     target_means = data.groupby(column)['Performance'].mean()
#     encoded_values_dict[column] = target_means.to_dict()
#     data[column] = data[column].map(target_means)

# for column in columns_for_target_mean_encoding:

#     target_means = data.groupby(column)['Performance'].mean()
#     encoded_values_dict[column] = target_means.to_dict()
#     data[column] = data[column].map(target_means)

data

,CandidateID,Designation,Have you Completed your Graduation ?,Highest Educational Qualification,Total no of years Experience [before joining Piramal],Previous Industry worked with [before joining Piramal],Name of your Previous Organization / Company,How many Organization that you have worked before joining Piramal Finance ?,Average Incentive [per month] earned in your pervious company ?,How did you come to know about the role at Piramal Finance ?,...,Languages,Distance,Age,perk,housing loans,msme / sme loans,personal loans,car loans / used car loans,housing loan housing loans,fmcg
0,emp0669,dst,0,1,5.0,2,1,2,2,5,...,Telugu,1.0,32.0,1,0,1,0,0,0,0
1,emp0273,dst,0,1,1.5,0,1,1,1,0,...,Tamil,3.0,24.0,1,0,0,1,0,0,0
2,emp0300,dst,0,4,4.5,0,0,2,3,6,...,Tamil,0.0,32.0,1,1,1,1,1,0,0
3,emp0100,dst,0,3,4.5,0,1,1,2,2,...,Urdu,0.0,30.0,1,0,0,0,0,0,0
4,emp0319,dst,0,3,1.0,4,0,1,4,5,...,Tamil,0.0,26.0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,emp0580,dst,0,1,3.0,0,1,1,0,0,...,Odia,2.0,35.0,1,0,0,1,0,0,0
741,emp0004,dst,0,1,5.0,2,1,1,2,5,...,Marathi,0.0,34.0,1,0,1,1,0,0,0
742,emp0763,dst,2,5,0.0,2,0,0,2,6,...,Marathi,3.0,24.0,1,0,0,0,0,0,0
743,emp0321,dst,0,1,5.0,0,1,3,2,0,...,Tamil,2.0,32.0,1,0,1,1,0,0,0
744,emp0474,dst,0,3,5.0,2,1,2,2,2,...,Kannada,0.0,29.0,1,0,0,0,1,0,0

#Filling the missing values if any

In [20]:
import pandas as pd
mode_value = data["Distance"].mode()[0]  # Get the mode value
data["Distance"] = data["Distance"].fillna(mode_value)
mode_value = data["How many Organization that you have worked before joining Piramal Finance ?"].mode()[0]  # Get the mode value
data["How many Organization that you have worked before joining Piramal Finance ?"] = data["How many Organization that you have worked before joining Piramal Finance ?"].fillna(mode_value)
# Assuming data is your DataFrame and the column name is "Which Products you are selling in your pervious role ?"
mode_value = data["Which Products you are selling in your pervious role ?"].mode()[0]  # Get the mode value
data["Which Products you are selling in your pervious role ?"] = data["Which Products you are selling in your pervious role ?"].fillna(mode_value)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 745 entries, 0 to 744
Data columns (total 32 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   CandidateID                                                                  745 non-null    object
 1   Designation                                                                  745 non-null    object
 2   Have you Completed your Graduation ?                                         745 non-null    int64
 3   Highest Educational Qualification                                            745 non-null    int64
 4   Total no of years Experience [before joining Piramal]                        745 non-null    float64
 5   Previous Industry worked with [before joining Piramal]                       745 non-null    int64
 6   Name of your Previous Organization / Company                                 745 non-null    int64
 7   How many Organization that you have worked before joining Piramal Finance ?  745 non-null    int64
 8   Average Incentive [per month] earned in your pervious company ?              745 non-null    int64
 9   How did you come to know about the role at Piramal Finance ?                 745 non-null    int64
 10  Which Products you are selling in your pervious role ?                       745 non-null    object
 11  What was the average ticket size handled at your end in previous role ?      745 non-null    int64
 12  How many members are there in your family ?                                  745 non-null    int64
 13  How many are earning family members ? [Other then yourself]2                 745 non-null    float64
 14  How many members are dependent on you ?                                      745 non-null    int64
 15  Department                                                                   745 non-null    int64
 16  DOJ                                                                          745 non-null    int64
 17  Location Code                                                                745 non-null    int64
 18  Residential Pincode                                                          745 non-null    int64
 19  Branch Pincode                                                               745 non-null    object
 20  Performance                                                                  745 non-null    int64
 21  Degree                                                                       745 non-null    int64
 22  Languages                                                                    612 non-null    object
 23  Distance                                                                     745 non-null    float64
 24  Age                                                                          745 non-null    float64
 25  perk                                                                         745 non-null    int64
 26  housing loans                                                                745 non-null    int64
 27  msme / sme loans                                                             745 non-null    int64
 28  personal loans                                                               745 non-null    int64
 29  car loans / used car loans                                                   745 non-null    int64
 30  housing loan housing loans                                                   745 non-null    int64
 31  fmcg                                                                         745 non-null    int64
dtypes: float64(4), int64(23), object(5)
memory usage: 186.4+ KB

#Running Random Forest Model

In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, f1_score
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.svm import SVC


X_train = data.drop(columns=["Performance","Languages","CandidateID","Designation","Which Products you are selling in your pervious role ?","Residential Pincode","Branch Pincode","Location Code"])
y_train = data["Performance"]
# # Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)
#Implementing RandomForest
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
# # Evaluate the model

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
f1 = f1_score(y_test, y_pred, average='weighted')
print("F1 Score:", f1)

# Print classification report
print(classification_report(y_test, y_pred))

Accuracy: 0.6174496644295302
F1 Score: 0.5903581876736239
              precision    recall  f1-score   support

           0       0.65      0.82      0.72        92
           1       0.50      0.30      0.37        57

    accuracy                           0.62       149
   macro avg       0.58      0.56      0.55       149
weighted avg       0.59      0.62      0.59       149